.letter {
  position: relative;
  background-color: #fff;
  border-radius: 0.05rem;
  transition: all 2s ease;
  overflow: hidden;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
}

.ado {
  display: block;
  width: 80%;
  aspect-ratio: 1/1;
  position: absolute;
  bottom: 10%;
  right: 10%;
  border-radius: 0.1rem;
  z-index: 9999;
}

.next {
  z-index: 999999999;
  opacity: 0;
  width: 10%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transition: all 0.5s ease;
  transform: translateX(-50%) translateY(0);
}

.title {
  left: 0;
  height: 0.2rem;
  text-align: center;
  color: #fff;
  font-size: 0.2rem;
  position: fixed;
  top: 0.2rem;
  font-weight: 700;
  transition: all 0.5s ease;
  z-index: 999999;
}

.lt_txt {
  display: flex;
  justify-content: center;
  align-items: start;
  position: absolute;
  /* bottom: 1px; */
  left: 50%;
  transform: translateX(-50%);
  transform-origin: bottom;
  width: 4.2rem;
  height: 5rem;
  z-index: 3;
  transition: all 1.5s ease;
  /* background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%); */
}

.lt2 {
  position: absolute;
  bottom: 0;
  width: 4rem;
  height: 2rem;
  z-index: 8;
}

.lt2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 2rem;
  background-image: linear-gradient(-20deg, #9b0fdb 0%, #21d4fd 100%);
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.lt3 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4rem;
  height: 2rem;
  z-index: 8;
}

.lt3::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(-20deg, #9b0fdb 0%, #21d4fd 100%);
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
}

.lt1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 5rem;
  height: 2rem;
  z-index: 9;
  flex-shrink: 0;
  overflow: hidden;
}

.lt1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  height: 3rem;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%); /* 定义三角形的区域 */
}

.donn {
  transform: translateY(0.5rem);
  transform-style: preserve-3d;
}

.ts {
  display: block;
  width: 3rem;
  height: 0.5rem;
  filter: blur(0px);
  transition: 0.5s ease;
  /* background-color: red; */
  color: rgb(106, 106, 106);
  font-size: 0.2rem;
  font-weight: 700;
  text-align: center;
  line-height: 0.5rem;
  /* position: relative; */
  /* top: .3rem; */
  z-index: 12;
}

.clk {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 0.5rem;
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  height: 0.5rem;
  border-radius: 50%;
  z-index: 13;
}
.clk:hover {
  cursor: pointer;
}

.acmsvg {
  width: 0.36rem;
}
.jiyu {
  /* padding: .4rem; */
  /* padding-top: .2rem; */
  font-weight: 700;
  font-size: 0.1rem;
  word-wrap: break-word;
  color: gray;
  /* border: .01rem solid gray; */
  display: block;
  text-align: center;
  line-height: 0.2rem;
  position: absolute;
  width: 2.8rem;
  height: 1.8rem;
  /* background-color: red; */
  top: 0.2rem;
  z-index: 10;
  /* border-radius: .1rem; */
  /* transition: all 1s ease; */
}

.e1,
.e2,
.e3,
.e4 {
  display: block;
  width: 0.2rem;
  height: 0.2rem;
  text-align: center;
  line-height: 0.2rem;
  opacity: 0;
  filter: blur(0.1rem);
}
.e1 {
  font-size: 0.2rem;
  position: absolute;
  z-index: 12;
  top: 0;
  left: -0.6rem;
  transition: all 0.2s ease;
  transform: translateX(0.4rem) translateY(0.4rem);
}

.e2 {
  font-size: 0.3rem;
  position: absolute;
  z-index: 12;
  top: 0.9rem;
  left: -0.8rem;
  transition: all 0.2s ease;
  transform: translateX(0.5rem) translateY(0.5rem);
}

.e3 {
  font-size: 0.3rem;
  position: absolute;
  z-index: 12;
  top: 0.8rem;
  right: -0.9rem;
  transition: all 0.2s ease;
  transform: translateX(-0.3rem) translateY(0.3rem);
}
.e4 {
  font-size: 0.5rem;
  position: absolute;
  z-index: 12;
  top: 0.1rem;
  right: -1.3rem;
  transition: all 0.2s ease;
  transform: translateX(-0.3rem) translateY(0.3rem);
}
.f1 {
  font-size: 0.12rem;
  color: rgba(0, 0, 0, 0);
  font-weight: 700;
  background-clip: text;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

/* @media screen and (max-width: 1000px) { */
.letter {
  position: none !important;
  width: 78% !important;
  height: 30% !important;
  /* transform: translateY(1rem); */
}

.lt2 {
  /* transform: scale(1.2); */
  /* left: 0 !important; */
  width: 5rem;
  height: 4rem;
  overflow: hidden;
  /* border-width: 4rem 0 4rem 5rem !important; */
}
.lt3 {
  /* transform: scale(1.2); */
  /* left: 0 !important; */
  width: 5rem;
  height: 4rem;
  overflow: hidden;
  /* border-width: 4rem 0 4rem 5rem !important; */
}

.lt2::after {
  width: 5rem;
  height: 6rem;
}

.lt3::after {
  top: 0;
  width: 5rem;
  height: 6rem;
}

.lt1 {
  width: 7.8rem;
  height: 3rem;
  overflow: hidden !important;
}

.lt1::after {
  width: 16rem;
  height: 4rem;
}

.lt_txt {
  position: absolute;

  /* z-index: 99; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 6.5rem;
  height: 7rem;
  bottom: 40%;
}
.jiyu2 {
  border: 0;
  display: block;
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
  border-radius: 0;
  position: relative;
  background-color: #fff;
  /* background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%); */
  /* background-color: red ; */
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 1s ease;
  transform-origin: bottom;
  transform: rotateX(-180deg);
  z-index: 11 !important;
}

.upp {
  animation: upanim 1.5s linear forwards;
  animation-delay: 1s;
}

.changes {
  animation: lt_txt 1s linear forwards;
}

@keyframes upanim {
  0% {
    transform: rotateX(-180deg);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0);
  }
}

@keyframes lt_txt {
  from {
    transform: translateX(-50%) scaleY(1) scaleX(1);
  }
  to {
    transform: translateX(-50%) scaleY(1.7) scaleX(1.3) translateY(2.5rem);
  }
}
#jiyu1 {
  transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
  transform-origin: top;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* background-color: red; */
  width: 100%;
  height: 50%;
  top: 0;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #eee;
  /* background-color: green !important; */
  z-index: 10 !important;
  border-radius: 0;
  /* z-index: 99999; */

  /* z-index: 99; */
  /* transform: scale(1.4) !important; */
  /* top: .8rem !important; */
}

.dan {
  animation: jiyu 1.5s linear forwards;
  animation-delay: 1s;
}
@keyframes jiyu {
  0% {
    background-color: #eee;
  }
  100% {
    transform: translateY(-0.01rem);
    background-color: #fff;
    /* background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%); */
  }
}

.kmc {
  padding: 0.7rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: absolute;
  width: auto;
  height: auto;
  font-size: 0.3rem;
  line-height: .7rem;
  font-weight: 700;
  transition: all 1.5s ease;
  transition-delay: 2.5s;
  z-index: 33;
  /* letter-spacing: 0.1rem; */
  border-radius: 0.3rem;
  border: 0.07rem solid gray;
  text-indent: 2em;
  color: rgb(97, 97, 97);
  text-decoration: underline;
}

.hei {
  position: absolute;
  width: 50%;
  height: 10%;
  /* background-color: red; */
  left: 2%;
  top: 2%;
  display: flex;
  justify-content: start;
  /* text-align: start; */
  align-items: center;
}

.hei span {
  display: inline-block;
  text-align: center;
  margin-left: 0.1rem;
  letter-spacing: normal;
  text-indent: 0;
}

.hei img {
  width: 0.6rem;
  height: 0.5rem;
}

.kmc-oj {
  display: inline-block;
  position: absolute;
  letter-spacing: 0;
  bottom: 0;
  right: 5%;
  font-size: 0.25rem;
}

.ts {
  width: inherit;
  position: absolute;
  /* top: 0%; */
  bottom: 35%;
  color: gray;
  font-size: 0.4rem;
  font-weight: 700;
  /* position: relative !important; */
  /* top: .2rem !important; */
}
.clk {
  width: 1.2rem;
  height: 1.2rem;
  /* border-radius: 0; */
  /* border-radius: 50%; */
  /* z-index: 10; */
}
.e1 {
  left: 0.5rem;
  bottom: 3rem !important;
}
.e2 {
  left: 0.1rem;
  bottom: 4rem !important;
}
.e3 {
  bottom: 3.8rem;
  right: 0.1rem;
}
.e4 {
  bottom: 3rem;
  right: 0rem;
}

.title {
  left: 40%;
  z-index: 999999;
  transform: scale(1.9) translateX(10px) !important;
  top: 5% !important;

  @media screen and (max-width: 1000px) {
    width: 100%;
    display: flex;
    justify-content: left;
    left: 4.5rem;
  }
}

.acmsvg {
  width: 0.9rem;
}

.donn {
  transform: translateY(100vh);
}

/* } */

.confettis {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9;
  opacity: 0;
}

.confetti {
  left: 50%;
  width: 16px;
  height: 16px;
  position: absolute;
  transform-origin: left top;
  animation: confetti 5s ease-in-out -2s infinite;
}

.confetti:nth-child(1) {
  left: 10%;
  animation-delay: 0;
  background-color: #fc0120;
}

.confetti:nth-child(2) {
  left: 20%;
  animation-delay: -5s;
  background-color: #8257e6;
}

.confetti:nth-child(3) {
  left: 30%;
  animation-delay: -3s;
  background-color: #ffbf4d;
}

.confetti:nth-child(4) {
  left: 40%;
  animation-delay: -2.5s;
  background-color: #fe5d7a;
}

.confetti:nth-child(5) {
  left: 50%;
  animation-delay: -4s;
  background-color: #45ec9c;
}

.confetti:nth-child(6) {
  left: 60%;
  animation-delay: -6s;
  background-color: #f6e327;
}

.confetti:nth-child(7) {
  left: 70%;
  animation-delay: -1.5s;
  background-color: #f769ce;
}

.confetti:nth-child(8) {
  left: 80%;
  animation-delay: -2s;
  background-color: #007de7;
}

.confetti:nth-child(9) {
  left: 90%;
  animation-delay: -3.5s;
  background-color: #63b4fc;
}

.confetti:nth-child(10) {
  left: 100%;
  animation-delay: -2.5s;
  background-color: #f9c4ea;
}

@keyframes confetti {
  0% {
    transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}

.smallcontain {
  max-width: 1000px;
  height: 100vh;
  position: relative;
}
