.master {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.msimg {
  display: block;
  width: 0.6rem;
  position: relative;
  border-radius: 50%;
  margin: 0 0.1rem;
}

.masterName{
  color: #ffc64b;
}

.mstxt {
  width: 100%;
  height: 40%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  line-height: 0.5rem;
}

.mstxt div {
  text-align: center;
  font-size: 0.5rem;
  color: #fff;
  font-weight: 700;
}

.mstxt div:nth-child(1) {
  letter-spacing: 0.1rem;
}

.mstxt div:nth-child(3) {
  letter-spacing: 0.1rem;
}

.mmm-container {
  position: relative;
  width: 50%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  padding: .1rem;
}

.mmm {
  border-radius: 50%;
  display: block;
  width: 0.6rem;
}

.mstxt1,
.mstxt2,
.mstxt3,
.mstxt4,
.mstxt5,
.mstxt6 {
  transition: all 1s ease;
  transform: translateY(1rem);
  filter: blur(0.1rem);
  opacity: 0;
}

.mstxt2{
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mstxt2 span:nth-child(3){
  font-size: .7rem;
}

.mstxt3 span{
  color: #f7b733;
  font-size: .7rem;
  letter-spacing: 0;
  margin-left: .1rem;
  margin-right: .1rem;
}

.mstxt4 span{
  color: #f7b733;
  font-size: .7rem;
  margin-left: .1rem;
  margin-right: .1rem;
  /* letter-spacing: .1rem; */
}

.mstxt5 span{
  font-size: .5rem;
  letter-spacing: .1rem;
  color: #f7b733;
}

.mstxt6 span{
  font-size: .7rem;
  margin-left: .1rem;
  margin-right: .1rem;
  /* letter-spacing: .1rem; */
  color: #f7b733;
}

.mstxt3,
.mstxt4 {
  transition-delay: 1s;
}

.mstxt5,
.mstxt6 {
  transition-delay: 2s;
}
.mstxt div:nth-last-child(2) {
  font-size: 0.4rem;
}
.cards {
  position: relative;
  height: 150px;
  transition-duration: 0.5s;
  background: none;
  overflow: hidden;
  transition: all 1s ease;
  transition-delay: 4s;
  transform: translateX(-1rem) translateY(0);
  filter: blur(0.1rem);
  opacity: 0;
}

.cards {
  height: 270px;
}

.cards .outlinePage {
  box-shadow: 0 10px 15px #b1985e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards .detailPage {
  display: flex;
}

.outlinePage {
  position: relative;
  background: linear-gradient(45deg, #fffbf0, #ffdd87);
  width: 300px;
  height: 150px;
  border-radius: 25px;
  transition-duration: 0.5s;
  z-index: 2;
}

.detailPage {
  position: relative;
  display: none;
  width: 300px;
  height: 120px;
  background: white;
  top: -20px;
  z-index: 1;
  transition-duration: 1s;
  border-radius: 0 0 25px 25px;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
}

.splitLine {
  position: absolute;
  width: 200px;
  height: 6px;
  top: 62%;
  background-image: linear-gradient(
    to right,
    transparent 10%,
    #ffe8a0 20%,
    #f7b733 50%,
    #ffe8a0 70%,
    transparent 90%
  );
  z-index: 1;
}

.trophy {
  position: absolute;
  right: 0px;
  top: 4px;
  z-index: 2;
}

.ranking_number {
  position: relative;
  color: #ffc64b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 80px;
  left: 20px;
  padding: 0;
  margin: 0;
  top: -5px;
}

.ranking_word {
  position: relative;
  font-size: 40px;
  color: #424c50;
}

.userAvatar {
  position: absolute;
  bottom: 6px;
  left: 20px;
}

.userName {
  position: relative;
  font-weight: 600;
  color: #6b7578;
  font-size: 18px;
}

.medals {
  position: absolute;
  top: 15px;
  right: 5px;
}

.gradesBox {
  position: relative;
  height: 75px;
  top: 10px;
  margin-right: 10px;
  margin-left: 15px;
}

.gradesIcon {
  position: absolute;
  top: 10px;
}

.gradesBoxLabel {
  position: relative;
  display: block;
  margin-left: 60px;
  color: #424c50;
  letter-spacing: 6px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  font-weight: 800;
  font-size: 13px;
}

.gradesBoxNum {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  font-size: 25px;
  font-weight: 800;
  margin-left: 60px;
  margin-top: 4px;
  color: #ea9518;
  top: -5px;
}

.timeNum {
  color: #6cabf6;
}

.slide-in-top {
  animation: slide-in-top 1s cubic-bezier(0.65, 0.05, 0.36, 1) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
