* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background-color: rgb(41, 41, 41);
  overflow: hidden;
}

body {
  font-family: "Varela Round";
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-image: url("./src/assets/img/sdutacm_bg_desktop.jpg");
  z-index: -3;
  display: flex;
  justify-content: center;
}
